<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="time">
          Time
        </th>
        <%@timeslot.each do |ts|%>
          <th><%=ts%></th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <%@day.each do |day| %>
        <tr>
          <td><%=day%></td>
          <%@timeslot.each do |timeslot| %>
            <td></td>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>


<%=link_to "Complete", "#", disabled: true, class: 'btn btn-success'%>
