/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

// flash message

.flash-messages {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .p {
    margin: 0;
  }

  .alert {
    border: 0;
  }

  .alert-success {
    background-color: green;
    color: white;
  }

  .alert-danger {
    background-color: red;
    color: white;
  }

  .alert-alert {
    background-color: red;
    color: white;
  }

  .alert-notice {
    background-color: green;
    color: white;
  }

  .close {
    line-height: 0;
    padding: 7px;
    font-size: 40px;
    opacity: 1;
    color: white;
  }

  .list-styling {
    width: 500px;
    margin: 0 auto;
    list-style-type: none;
    text-align: left;
  }

  .message {
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  }

}
